<div class="table-overview-wrapper">
  <div class="options-area">
    <div class="filter-wrapper"></div>
    <button (click)="createRecord()">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th *ngFor="let key of uniqueKeys" scope="col">
          {{ key | snakeToSpace }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableRows">
        <td>{{ row[0] }}</td>
        <td
          *ngFor="let cell of row.slice(1)"
          [innerHTML]="cell | booleanToIcon"
        ></td>
      </tr>
    </tbody>
  </table>
</div>
