header {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: nowrap;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px 20px 0px;
  background-color: var(--dominant-color);
  border-radius: 0px 0px 20px 20px;
  border: 1px solid #000;
  border-top: none;
  h1 {
    margin: 0px;
  }
}
nav {
  margin-bottom: 1px;
  a {
    position: relative;
    font-size: 24px;
    text-decoration: none;
    color: #000;
    padding: 6px 20px; // 4px when EXO implemented
    margin: 0px 6px;
    border-radius: 20px 20px 0px 0px;
    border-bottom: none;
    &:hover {
      padding: 12px 20px 6px;
      // border-left: 0px;
      // border-right: 0px;
      // &::after,
      // &::before {
      //   content: '';
      //   width: 10px;
      //   height: 15px;
      //   border: 1px solid #000;
      //   background-color: var(--accent-color);
      //   position: absolute;
      //   bottom: 0px;
      //   border-top: 0;
      // }
      // &::after {
      //   right: -10px;
      //   border-right: 0;
      //   border-radius: 0px 0px 0px 10px;
      // }

      // &::before {
      //   left: -10px;
      //   border-left: 0;
      //   border-radius: 0px 0px 10px 0px;
      // }
    }
  }
}
